# Виртуальное окружение (одно — папка venv/)
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Django
*.log
db.sqlite3
media/
staticfiles/

# IDE
.idea/
.vscode/
*.swp

# OS
Thumbs.db
.DS_Store
